h1{
   text-align: center;
    font-family:cursive;
    font-size: 30px;
    width: 100%;
    clear:both;
    background-color: crimson;
}

#p1{ 
    clear: both;
    text-align: center;
    width: 100%;
    text-align:justify;
    background-color: antiquewhite;
    font-family: cursive;
    
}

#p2{ 
    clear: both;
    text-align: center;
    width: 100%;
    text-align:justify;
    font-family: fantasy;
    
}

body{
    background-color: darkgrey;
}

h2{
    clear: both;
    text-align: center;
    width: 50%;
    color: black;
    font-family: monospace;
    padding:6pxx;
    margin:8px;
    border: dashed;
    border-color: red;
}